In [1]:
import pandas as pd

In [3]:
wnba = pd.read_csv('../favorite_code/wnba.csv')

In [4]:
wnba.head()

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,...,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
0,Aerial Powers,DAL,F,183,71.0,21.200991,US,"January 17, 1994",23,Michigan State,...,6,22,28,12,3,6,12,93,0,0
1,Alana Beard,LA,G/F,185,73.0,21.329438,US,"May 14, 1982",35,Duke,...,19,82,101,72,63,13,40,217,0,0
2,Alex Bentley,CON,G,170,69.0,23.875433,US,"October 27, 1990",26,Penn State,...,4,36,40,78,22,3,24,218,0,0
3,Alex Montgomery,SAN,G/F,185,84.0,24.543462,US,"December 11, 1988",28,Georgia Tech,...,35,134,169,65,20,10,38,188,2,0
4,Alexis Jones,MIN,G,175,78.0,25.469388,US,"August 5, 1994",23,Baylor,...,3,9,12,12,7,0,14,50,0,0

Perform stratified sampling: stratify the data set by player position, and then do simple random sampling on every stratum. At the end, use the sample to find which position has the greatest number of points per game.

Create a new column which describes the number of points a player scored per game during the season. The number of total points a player scored the entire season is stored in the PTS column, and the number of games played in the Games Played column. Give the new column a relevant name.
Stratify the wnba data set by player position. The Pos column describes a player's position on the field. Assign each stratum to a different variable.
Loop through the strata, and for each stratum:
Sample 10 observations using simple random sampling (set random_state = 0).
Find the mean points per game using the sample. Use the new column you've created earlier.
Find a way to store the mean along with its corresponding position. You can use a dictionary.
Find the position that has the greatest number of points per game, and assign its name to a variable named position_most_points.
To find the dictionary key that has the greatest dictionary value, you can use this technique.

In [7]:
#This sampling method is called stratified sampling, and each stratified group is also known as a stratum.
wnba['points_per_game'] = wnba.PTS/wnba['Games Played']
stratum_G = wnba[wnba.Pos == 'G']
stratum_F = wnba[wnba.Pos == 'F']
stratum_C = wnba[wnba.Pos == 'C']
stratum_GF = wnba[wnba.Pos == 'G/F']
stratum_FC = wnba[wnba.Pos == 'F/C']

points_per_position = {}
for stratum, position in [(stratum_G, 'G' ), (stratum_F, 'F'), (stratum_C, 'C'), (stratum_GF, 'GF'), (stratum_FC, 'FC')]:
    sample = stratum['points_per_game'].sample(10, random_state = 0)
    points_per_position[position] = sample.mean()
position_most_points = max(points_per_position, key = points_per_position.get)

In [6]:
position_most_points

'C'